# Base approvers group for the repository
[General Approvers] @nrs_owners/general_approvers
*

# Changes to SW dependencies require approval from a restricted group due to
# potential impact on NuRec's SBOM and release process
[Dependencies] @nrs_owners/deps
/deps/

# Changes to the SQA test plan require approval from specific stakeholders due
# to potential impact on test coverage and SQA test automation
[SQA Test Code] @nrs_owners/sqa
/internal/sqa/

# Changes to public documentation require approval from the team that
# maintains it
[Public Documentation] @nrs_owners/docs
/docs/public/

# NRM code and configs require approval from NRM owners
[NRM] @nrs_owners/nrm
/nre/nrm/
/configs/nrm/

# Changes to configs require approval from a restricted group due to the risk
# of breaking release configs
[Configs] @nrs_owners/configs
/configs/
/nre/config/

# Changes to GRPC require approval from the feature owners within NuRec due to
# potential impact on the contract between NuRec and its customers
[GRPC] @nrs_owners/grpc
/nre/grpc/

# Changes to GRPC also require approval from stakeholders outside the project
# (e.g., NDAS) due to potential impact on the contract between NuRec and its
# customers
[GRPC Customers] @nrs_owners/grpc_customers
/nre/grpc/