pid_file = "./vault-agent.pid"

vault {
   address = "${env:VAULT_SERVER_URL}"    							
}

auto_auth {

  method {
    type = "jwt"
    namespace = "${env:VAULT_NAMESPACE}"  				
    mount_path = "auth/jwt/nvidia/gitlab-master"	

    config = {
       token = "${env:VAULT_JWT_TOKEN}"
       role = "pipeline"
    }
  }
  
  exit_after_auth_failure = true            # exit agent w/ status code = 1 if role cannot be used
  exit_after_auth_retry_duration = "60s"    # if vault is unreachable retry for 1m then exit if still offline
}

# template with source hcl file written to local dir
template {
  source      = "./.gitlab/ci/vault/vault-ci-secrets.tmpl" 
  destination = "./my_secret.env"   	    # relative to the path that vault agent was launched in
  perms       = "600"
  
  # Exit agent with an error when accessing template
  error_on_missing_key = true
}
