// Copyright (c) 2024 NVIDIA CORPORATION.  All rights reserved.

#include <Python.h>
#include <marshal.h>

#include <iostream>

#include "{{header_file_name}}"

int main(int argc, char *argv[]) {

    int ret = 0;

    PyStatus status;
    PyConfig config;

    PyConfig_InitPythonConfig(&config);

    status = PyConfig_SetString(&config, &config.base_executable, L"{{python_run_root}}/bin/python3");

    if (PyStatus_Exception(status))
    {
        Py_ExitStatusException(status);
    }

    status = PyConfig_SetString(&config, &config.executable, L"{{python_run_root}}/bin/python3");

    if (PyStatus_Exception(status))
    {
        Py_ExitStatusException(status);
    }

    status = Py_InitializeFromConfig(&config);

    if (PyStatus_Exception(status))
    {
        Py_ExitStatusException(status);
    }

    {% for module in module_prefix -%}

        std::cout << "Attempting to read CodeObject: " << {{module}}_module.c_str() << std::endl;

        PyObject* {{module}}_pyobject = PyMarshal_ReadObjectFromString(reinterpret_cast<const char*>(&{{module}}_bytecode[0]), sizeof({{module}}_bytecode));
        PyObject* {{module}}_import = nullptr;

        if ({{module}}_pyobject == NULL)
        {
            std::cout << "Failed reading CodeObject: " << {{module}}_module << std::endl;
            PyErr_Print();
        }
        else
        {
            std::cout << "Success reading CodeObject: " << {{module}}_module.c_str() << std::endl;
        }

        std::cout << "Attempting Check and Exec CodeObject: " << {{module}}_module.c_str() << std::endl;

        if ({{module}}_pyobject != NULL && PyCode_Check({{module}}_pyobject))
        {
            {{module}}_import = PyImport_ExecCodeModule({{module}}_module.c_str(), {{module}}_pyobject);

            if ({{module}}_import == NULL)
            {
                std::cout << "Failed to exec code module: " << {{module}}_module << std::endl;
                PyErr_Print();
            }

            std::cout << "Dumping functions/classes within: " << {{module}}_module.c_str() << std::endl;
            PyObject* pDict = PyModule_GetDict({{module}}_import);
            if (pDict != NULL)
            {
                PyObject *key, *value;
                Py_ssize_t pos = 0;

                while (PyDict_Next(pDict, &pos, &key, &value))
                {
                    if (PyCallable_Check(value))
                    {
                        const char* pStr = PyUnicode_AsUTF8(key);
                        if (pStr != NULL)
                        {
                            std::cout << "\tObject name: " << pStr << std::endl;
                        }
                    }
                }
            }
        }
        else
        {
            std::cout << "Failed to execute module: " << {{module}}_module << std::endl;
            PyErr_Print();
        }

    {% endfor %}

    PyObject* sys_module = PyImport_ImportModule("sys");
    if (!sys_module)
    {
        PyErr_Print();
        return -1;
    }

    PyObject* py_argv = PyList_New(0);

    if (!py_argv)
    {
        std::cout << "Failed to create argument list." << std::endl;
        PyErr_Print();
        return -1;
    }

    for (int i = 0; i < argc; i++)
    {
        PyObject* py_arg = PyUnicode_FromString(argv[i]);

        if (!py_arg || PyList_Append(py_argv, py_arg) < 0)
        {
            std::cerr << "Failed to set arguments." << std::endl;
            PyErr_Print();
            return -1;
        }

        Py_DECREF(py_arg);
    }

    if (PyObject_SetAttrString(sys_module, "argv", py_argv) < 0)
    {
        std::cout << "Failed to set arguments in sys module." << std::endl;
        PyErr_Print();
        return -1;
    }

    PyObject *globals = PyDict_New();
    if (!globals)
    {
        std::cout << "Failed to create globals dict" << std::endl;
        PyErr_Print();
        return -1;
    }

    PyObject* builtins = PyEval_GetBuiltins();

    if (builtins)
    {
        if (PyDict_SetItemString(globals, "__builtins__", builtins) < 0)
        {
            std::cerr << "Failed to set builtins." << std::endl;
            PyErr_Print();
            return -1;
        }
    }

    if (PyDict_SetItemString(globals, "__name__", PyUnicode_FromString("__main__")) < 0)
    {
        std::cerr << "Failed to create main." << std::endl;
        return -1;
    }

    std::cout << "Attempting to load main script" << std::endl;

    PyObject* __script___pyobject = PyMarshal_ReadObjectFromString(reinterpret_cast<const char*>(&__script___bytecode[0]), sizeof(__script___bytecode));

    if (__script___pyobject != NULL && PyCode_Check(__script___pyobject))
    {

        std::cout << "### Executing script ###" << std::endl;
        PyObject *result = PyEval_EvalCode(__script___pyobject, globals, globals);

        if (!result)
        {
            // We could be returning 
            // - non-error states: None~Null / SystemExit(0)
            // - error states: all other cases

            auto system_exit = false;

            PyObject *type, *value, *traceback;
            PyErr_Fetch(&type, &value, &traceback);
            PyErr_NormalizeException(&type, &value, &traceback);

            if (type != NULL)
            {
                ret = -1; // signal error state, unless exception is a SystemExit(0) exception

                PyObject* exception_type_name = PyObject_GetAttrString(type, "__name__");

                if (exception_type_name != NULL)
                {
                    PyObject* execption_type_string = PyUnicode_AsEncodedString(exception_type_name, "utf-8", "strict");

                    if (execption_type_string != NULL)
                    {
                        char* type_msg = PyBytes_AS_STRING(execption_type_string);
                        if (type_msg != NULL)
                        {
                            if (std::string(type_msg) == "SystemExit")
                            {
                                system_exit = true; // remeber we have a system-exit - print exception type in a deffered way
                            }
                            else
                            {
                                std::cerr << type_msg << std::endl;
                            }
                        }
                    }

                    Py_XDECREF(execption_type_string);
                }

                Py_XDECREF(exception_type_name);
            }

            if (value != NULL)
            {
                ret = -1; // signal error state, unless exception is a SystemExit(0) exception

                PyObject* exception_value = PyObject_Str(value);

                if (exception_value != NULL)
                {
                    const char* error_msg = PyUnicode_AsUTF8(exception_value);
                    if (error_msg != NULL)
                    {
                        if (system_exit)
                        {
                            if (std::string(error_msg) == "0")
                            {
                                ret = 0; // signal regular graceful exit
                            }
                            else
                            {
                                std::cerr << "SystemExit" << std::endl;
                                std::cerr << error_msg << std::endl;
                            }
                        }
                        else
                        {
                            std::cerr << error_msg << std::endl;
                        }
                    }
                    else
                    {
                        std::cerr << "Unable to return error message." << std::endl;
                    }
                }

                Py_XDECREF(exception_value);
            }

            Py_XDECREF(type);
            Py_XDECREF(value);
            Py_XDECREF(traceback);
            Py_DECREF(globals);
        }
    }
    else
    {
        std::cout << "Failed to load main script" << std::endl;
        PyErr_Print();
    }

    {% for module in module_prefix -%}
    if ({{module}}_import  != nullptr)
    {
        Py_DECREF({{module}}_import );
    }
    {% endfor %}

    // Finalize the Python interpreter
    Py_Finalize();

    return ret;
}
